.contacts-item {
  width: 220px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts-title_cafe,
.contacts-title {
  display: inline-block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.contacts-title {
  background-color: #c2e297;
}

.contacts-city {
  display: block;
  font-weight: 500;
  font-size: 12px;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
}

.contacts-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;

  &::after {
    display: block;
    content: '';
    margin-top: 25px;
    margin-bottom: 25px;
    width: 179px;
    height: 0;
    border: 1px solid #e1e1e1;
  }
}

.contacts-timer-day {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #000000;
}

.contacts-timer-time {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #ffa5ba;
  margin: 0;
}

.contacts-time-item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-time-item:last-child::after {
  display: block;
  content: '';
  margin-top: 25px;
  margin-bottom: 25px;
  width: 179px;
  height: 0;
  border: 1px solid #e1e1e1;
}

.contacts-location-tel,
.contacts-location-mail {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.contacts-button {
  .effect-button {
    border-radius: 44px;

    &.franchise {
      font-size: 16px;
      line-height: 1.31;
      padding-top: 16px;
      padding-bottom: 17px;
      padding-right: 30px;
      padding-left: 35px;
      border: none;
      svg {
        width: 7px;
        height: 10px;
        margin-left: 14px;
      }
    }

    &.location {
      padding-top: 16px;
      padding-bottom: 17px;
      padding-right: 17px;
      padding-left: 21px;
      margin-bottom: 10px;

      svg {
        width: 6px;
        height: 10px;
        margin-left: 11px;
      }
    }
  }
}

// Mobil=======

@media screen and (max-width: 767px) {
  .contacts {
    padding-bottom: 29px;
    background-color: #fff5f6;

    & .container {
      position: relative;
      bottom: 84px;
      min-width: 320px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .contacts-list {
    margin-bottom: 81px;
  }

  .contacts-item {
    padding-top: 43px;
    padding-right: 20px;
    padding-bottom: 43px;
    padding-left: 20px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // Tablet=====

  @media screen and (min-width: 768px) {
    .contacts-button {
      align-items: center;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
    }

    .contacts-button {
      .effect-button {
        &:first-child {
          margin-right: 15px;
        }

        &.franchise {
          padding-top: 11px;
          padding-bottom: 11px;
          padding-right: 37px;
          padding-left: 37px;
        }

        &.location {
          padding-top: 11px;
          padding-bottom: 11px;
          padding-right: 33px;
          padding-left: 30px;
          margin-bottom: 0px;
        }
      }
    }
  }

  @media screen and (max-width: 1199px) and (min-width: 768px) {
    .contacts {
      padding-bottom: 68px;
      background-color: #fff5f6;

      & .container {
        position: relative;
        bottom: 90px;
      }
    }

    .contacts-list {
      display: flex;
      flex-wrap: nowrap;
      margin: -10px;
      margin-bottom: 81px;
    }

    .contacts-item {
      width: calc((100% - 6 * 10px) / 3);
      margin: 10px;
      padding-top: 50px;
      padding-right: 32px;
      padding-bottom: 50px;
      padding-left: 31px;
    }

    .contacts-title_cafe,
    .contacts-title_food-truck {
      border-radius: 6px;
      padding: 0px 15px;
      font-size: 16px;
      line-height: 1.88;
      margin-bottom: 30px;
    }

    .contacts-city {
      font-size: 14px;
      line-height: 1.86;
      margin-bottom: 14px;
    }

    .contacts-text {
      font-size: 14px;
      line-height: 1.64;

      &::after {
        display: block;
        content: '';
        margin-top: 30px;
        margin-bottom: 20px;
        width: 157px;
        height: 0;
      }
    }

    .contacts-timer-day {
      font-size: 14px;
      line-height: 1.86;
    }

    .contacts-timer-time {
      font-size: 14px;
      line-height: 1.86;
      margin: 0;
    }

    .contacts-time-item:not(:last-child) {
      margin-bottom: 16px;
    }

    .contacts-time-item:last-child::after {
      content: '';
      margin-top: 30px;
      margin-bottom: 30px;
      width: 157px;
      height: 0;
    }

    .contacts-location-tel,
    .contacts-location-mail {
      font-size: 14px;
      line-height: 1.86;
    }
  }
  .contacts-button {
    .effect-button {
      margin-right: auto;
      margin-left: auto;
      &.franchise {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

// Desktop======

@media screen and (min-width: 1200px) {
  .contacts {
    padding-bottom: 55px;

    & .container {
      position: relative;
      bottom: 110px;
    }
  }

  .contacts-list {
    display: flex;
    flex-wrap: nowrap;
    margin: -15px;
    margin-bottom: 86px;
  }

  .contacts-item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
    padding-top: 52px;
    padding-right: 44px;
    padding-bottom: 61px;
    padding-left: 43px;
  }

  .contacts-title_cafe,
  .contacts-title_food-truck {
    border-radius: 6px;
    padding: 0px 15px;
    font-size: 16px;
    line-height: 1.88;
    margin-bottom: 32px;
  }

  .contacts-city {
    font-size: 16px;
    line-height: 1.88;
  }

  .contacts-desc {
    font-size: 16px;
    line-height: 1.81;

    &::after {
      content: '';
      margin-top: 32px;
      margin-bottom: 32px;
      width: 234px;
    }
  }

  .contacts-timer-day {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.04em;
  }

  .contacts-timer-time {
    font-size: 16px;
    line-height: 1.88;
    margin: 0;
  }

  .contacts-time-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .contacts-time-item:last-child::after {
    content: '';
    margin-top: 32px;
    margin-bottom: 32px;
    width: 234px;
  }

  .contacts-location-tel,
  .contacts-location-mail {
    font-size: 16px;
    line-height: 1.81;
  }

  .contacts-button {
    flex-wrap: nowrap;

    .effect-button {
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        margin-right: 15px;
      }

      &.franchise {
        padding-right: 39px;
        padding-left: 39px;

        svg {
          fill: #d41443;
        }
      }

      &.location {
        padding-right: 35px;
        padding-left: 35px;
        margin-bottom: 0px;
      }
    }
  }
}
